.dropdown-toggle.btn-default {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
    display: block;
}

.bootstrap-select>.dropdown-menu>.dropdown-menu li.hidden {
    display: none;
}

.bootstrap-select>.dropdown-menu>.dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    text-decoration: none;
}

.bootstrap-select>.dropdown-menu>.dropdown-menu li a:hover {
    background-color: #f4f4f4;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
}

.dropdown-menu>li.active>a {
    color: #fff !important;
    background-color: #337ab7 !important;
}

.bootstrap-select .check-mark {
    line-height: 14px;
}

.bootstrap-select .check-mark::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.bootstrap-select button {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline !important;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: -18px 10px;

    .avatar-edit {
        position: absolute;
        right: 0px;
        z-index: 1;
        top: 0px;

        input {
            display: none;

            +label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;

                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }

    .avatar-preview {
        width: 160px;
        height: 160px;
        position: relative;
        border-radius: 30%;
        border: 5px solid black;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

        >div {
            width: 100%;
            height: 100%;
            border-radius: 30%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.avatar-upload {
    position: relative;
    max-width: 200px;
}

.avatar-edit {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.avatar-edit label {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: black;
    padding: 0.05rem 0.4rem;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}

.avatar-preview {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-preview div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fa-pencil {
    margin-top: 7px;
}
